{% extends "admin/delete_selected_confirmation.html" %}
{% load i18n l10n admin_urls static %}

{% block extrahead %}
    {{ block.super }}
    {{ media }}
    <script type="text/javascript" src="{% static 'admin/js/cancel.js' %}"></script>
{% endblock %}

{% block bodyclass %}
  {{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }}
  delete-confirmation delete-selected-confirmation
{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a> &rsaquo;
    <a href="{% url 'admin:app_list' app_label=opts.app_label %}">
      {{ opts.app_config.verbose_name }}
    </a> &rsaquo;
    <a href="{% url opts|admin_urlname:'changelist' %}">
      {{ opts.verbose_name_plural|capfirst }}
    </a> &rsaquo;
    {% trans 'Delete multiple objects' %}
  </div>
{% endblock %}

{% block content %}
  {% if perms_lacking %}
    <p>
      {% blocktrans %}Deleting the selected {{ objects_name }} would result in deleting related objects, but your account doesn't have permission to delete the following types of objects:{% endblocktrans %}
    </p>
    <ul>
      {% for obj in perms_lacking %}
      <li>{{ obj }}</li>
      {% endfor %}
    </ul>
    {% elif protected %}
    <p>
      {% blocktrans %}Deleting the selected {{ objects_name }} would require deleting the following protected related objects:{% endblocktrans %}
    </p>
    <ul>
      {% for obj in protected %}
        <li>{{ obj }}</li>
      {% endfor %}
    </ul>
    {% else %}
      <p>
        Вы уверенны, что хотите переместить выбранные {{ objects_name }}?
        Объекты и связанные с ними элементы будут затронуты изменениями: 
      </p>

      {% include "admin/includes/object_delete_summary.html" %}
      <h2>{% trans "Objects" %}</h2>
      <ul>
        {% for movable_object in movable_objects %}
          <li>{{ movable_object.name }}</li>
        {% endfor %}
      </ul>
      <form method="post">{% csrf_token %}
        <div>
          <p>Выберете новый родительский элемент:</p>
          <ul>
            {% for parent in potential_parents %}
              <li style="list-style: none">
                <label for="new_parent{{ forloop.counter }}">
                  <input name="new_parent" type="radio" value="{{ parent.pk }}" id="new_parent{{ forloop.counter }}">
                  {{ parent.depth_padded_name }}
                </label>
            {% endfor %}
            </li>
          </ul>
          
          {% for obj in queryset %}
            <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk|unlocalize }}" />
          {% endfor %}
          <input type="hidden" name="action" value="move_tree" />
          <input type="hidden" name="post" value="yes" />
          <input type="submit" value="{% trans "Yes, I'm sure" %}" />
          <a href="#" class="button cancel-link">{% trans "No, take me back" %}</a>
        </div>
      </form>
  {% endif %}
{% endblock %}
