{% extends "utils/base.html" %}
{% load static %}
{% block title %}Страница не найдена{% endblock %}
{% block breadcrumbs %} {% endblock %}
{% block content %}
  <div class="row">
    <div class="col">
      <p>К сожалению, мы не можем найти интересующую вас информацию. Возможно она была удалена или перемещена в другое место. Так же есть вероятность опечатки в адресе страницы.</p>
      <p>
        В любом случае, вы можете вернутся на
        <a href="/" title="Главная">главную</a>  или
        <a href="{% url 'misc_pages:detail' 'contact_info' %}" title="Как с нами связаться">связаться</a>
        с нами.
      </p>
    </div>
  </div>
{% endblock %}
