{% extends "utils/base.html" %}
{% load static %}
{% block title %}Ошибка{% endblock %}
{% block menu_top %} {% endblock %}
{% block menu_left %} {% endblock %}
{% block breadcrumbs %} {% endblock %}
{% block content %}
  <div class="row mt-5">
    <div class="col text-center">
      <p>
        К сожалению, в результате вашего запроса возник сбой, и мы не смогли его выполнить.
      </p>
      <p>
        Вы можете вернутся на
        <a href="/" title="Главная">главную</a>  или
        <a href="{% url 'misc_pages:detail' 'contact_info' %}" title="Как с нами связаться">связаться</a>
        с нами.
      </p>
    </div>
  </div>
{% endblock %}
