#image-gallery .modal .container {
  width: 1100px;
  height: 1050px;
}

#image-gallery .modal-dialog {
  max-width: 1100px;
  pointer-events: auto;
}

#loader {
  max-width: 50px;
  position: absolute;
  left: 45%;
  z-index: -1;
}

.arrow-right {
  border-bottom: 45px solid transparent;
  border-left: 45px solid silver;
  border-top: 45px solid transparent;
}

.arrow-left {
  border-bottom: 45px solid transparent; 
  border-right: 45px solid silver; 
  border-top: 45px solid transparent;
}

.arrow-right, .arrow-left {
  cursor: pointer;
  height: 0; 
  width: 0; 
}

#image-gallery .close {
  top: 0px;
  right: 8px;
  font-size: 2.5rem;
}
