{% load i18n admin_urls %}

<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a> &rsaquo;
  <a href="{% url 'admin:app_list' app_label=cl.opts.app_label %}">
    {{ cl.opts.app_config.verbose_name }}
  </a> &rsaquo;
  <a href="{% url cl.opts|admin_urlname:'changelist' %}">
    {{ cl.opts.verbose_name_plural|capfirst }}
  </a>
  {% if title %} &rsaquo; {{ title }}{% endif %}
</div>
