{% load i18n %}
<h3>{% blocktrans with filter_title=title %} By {{ filter_title }} {% endblocktrans %}</h3>
<form method="get" style="text-align: center; padding: 0 15px 15px;">
  <select name="category">
    <option value="">---------</option>
    {%for choice in choices %}
      {% if choice.selected %}
        <option value="{{ choice.option_value }}" selected>
          <b>{{ choice.option_name }}</b>
        </option>
      {% else %}
        <option value="{{ choice.option_value }}">
          {{ choice.option_name }}
        </option>
      {% endif %}
    {% endfor %}
  </select>
  <input type="submit" value="Искать" style="margin-top: 10px;" />
</form>
