{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}
  
{% block breadcrumbs %}
  {% include "admin/catalog/ware/action_page_breadcrumbs.html" %}
{% endblock %}

{% block content %}
  <form action="" method="post" id="set-ware-category-form">
    {% csrf_token %}
    {{ form.errors }}
    <h2>{{ form.category.label }}</h2>
    {{ form.category }}
    <input type="submit" value="ИЗМЕНИТЬ">
  </form> 
{% endblock content %}
