{% extends "admin/base_site.html" %}
{% load static %}
{% block extrahead %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/catalog/ware/sale_ware_discount_form.js' %}"></script>
{% endblock extrahead %}
  
{% block extrastyle %}
  {{ block.super }}
  <link href="{% static 'admin/catalog/ware/sale_ware_discount.css' %}"
    type="text/css" media="screen" rel="stylesheet">
  <link href="{% static 'admin/catalog/ware/sale_ware_discount_multiple.css' %}"
    type="text/css" media="screen" rel="stylesheet">
{% endblock extrastyle %}

{% block breadcrumbs %}
  {% include "admin/catalog/ware/action_page_breadcrumbs.html" %}
{% endblock %}

{% block content %}
  <form action="" method="post" id="ware-to-sale-form">
    {% csrf_token %}
    {% include "admin/catalog/ware/ware_to_sale_multiple.html" %}
    {% include "admin/catalog/ware/ware_to_sale_formset.html" %}
    <input type="submit" value="ДОБАВИТЬ">
  </form> 
{% endblock content %}
