{% load i18n admin_urls static admin_modify %}
{% block extrastyle %}
  {{ super.block }}
  {{ discount_form.media }}
{% endblock extrastyle %}

{% if discount_form.non_field_errors %}
  <tr class="{{ discount_form.prefix }}-non_field_errors">
    <td colspan="{{ discount_form.visible_fields|length|add:"3" }}">
      {{ discount_form.non_field_errors }}
    </td>
  </tr>
{% endif %}
<tr class="form-row {% cycle "row1" "row2" %} {% if discount_form.original or discount_form.show_url %}has_original{% endif %}{% if forloop.last %} empty-form{% endif %}"
  id="{{ discount_formset.prefix }}-{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}">

  <td class="original">
    {% if discount_form.original or discount_form.show_url %}
      <p>
        {% if discount_form.original %}
          {{ discount_form.original }}
        {% endif %}
      </p>
    {% endif %}
    {% spaceless %}
      {% for field in discount_form.hidden_fields %}
        {{ field }}
      {% endfor %}
    {% endspaceless %}
  </td>
  <td> <input class="form-selector" type="checkbox"> </td>
  
  {% for field in discount_form.visible_fields %}
    <td{% if field.name %} class="field-{{ field.name }}"{% endif %}>
        {{ field.errors.as_ul }}
        {{ field }}
    </td>
  {% endfor %}
  <td class="delete">
    <div>
      <a class="inline-deletelink" href="#" data-form-prefix="{{ discount_form.prefix }}">
        {% trans "Delete" %}
      </a>
    </div>
  </td>
</tr>
