<div id="ware-discounts-multiple">
  <h2>Выставить параметры для нескольких товаров:</h2>
  <table>
    <tr>
      <th scope="col">Распродажа</th>
      <th scope="col">Сроки распродажи</th>
      <th scope="col">Тип скидки</th>
      <th scope="col">Значение</th>
      <th scope="col">Условие</th>
      <th scope="col">Сроки</th>
      <th scope="col">&nbsp;</th>
    </tr>
    <tr>
      <td>
        <select id="discounts-multiple-sale">
          <option value="" selected="">---------</option>
          {% for sale in sales %}
            <option value="{{ sale.pk }}">{{ sale.name }}</option>
          {% endfor %}
        </select>
      </td>

      <td id="sale-timelines">
        {% for sale in sales %}
          <p id="sale-timeline-{{ sale.pk }}" class="sale-timeline">
            {{ sale.timeline.lower }} - {{ sale.timeline.upper }}
          </p>
        {% endfor %}
      </td>
      
      <td>
        <select id="discounts-multiple-type">
          <option value="" selected="">---------</option>
          {% for type_id, type_name in discount_formset.model.DISCOUNT_TYPES %}
            <option value="{{ type_id }}">{{ type_name }}</option>
          {% endfor %}
        </select>
      </td>

      <td> <input type="number" min="0" value="0" id="discounts-multiple-value" /> </td>
      <td> <input type="number" min="0" value="0" id="discounts-multiple-condition" /> </td>
      <td>
         <input type="text" id="discounts-multiple-timeline-0" /> 
         <input type="text" id="discounts-multiple-timeline-1" /> 
      </td>
      <td> <input type="button" id="discounts-multiple-set-button" value="Выставить"> </td>
    </tr>
  </table>
</div>
