{% load i18n admin_urls static admin_modify %}

<div class="js-inline-admin-formset inline-group" id="{{ discount_formset.prefix }}-group"
     data-inline-type="tabular" data-inline-formset="{{ discount_formset.inline_formset_data }}">
  <div class="tabular inline-related {% if forloop.last %}last-related{% endif %}">
    {{ discount_formset.management_form }}
    <fieldset class="module {{ discount_formset.classes }}" id="ware-discounts">
       <h2>Скидки на товары</h2>
       {{ discount_formset.non_form_errors }}
       <table>
         <thead>
           <tr>
             <th class="original"></th>
             <th> <input type="checkbox" id="form-selector" /> </th>
             {% for field in discount_formset.forms.0.visible_fields %}
               <th{% if field.field.required %} class="required"{% endif %}>
                 {{ field.label|capfirst }}
                 {% if field.help_text %}
                   &nbsp;
                   <img src="{% static "admin/img/icon-unknown.svg" %}"
                     class="help help-tooltip" width="10" height="10"
                     alt="({{ field.help_text|striptags }})"
                     title="{{ field.help_text|striptags }}" />
                 {% endif %}
               </th>
             {% endfor %}
             <th>{% trans "Delete?" %}</th>
           </tr>
         </thead>

         <tbody>
           {% for discount_form in discount_formset %}
             {% include "admin/catalog/ware/ware_to_sale_formset_form.html" %}
           {% endfor %}
         </tbody>
       </table>
    </fieldset>
  </div>
</div>
