{% extends "utils/base.html" %}
{% block title %}{{ page.title }}{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-12 col-lg-7">
      <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A1b680f8561bebbbcf3ab5614b5244007630aaa0b9e7ba6c46a745c8c590e3ff6&amp;width=100%&amp;height=420&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
    <div class="col-12 col-lg-5">
      <address class="mt-3 mt-xl-none">
        <h5 class="font-weight-bold text-uppercase" style="font-size: 1.12rem;">
          Ткани, шторы, всё для шитья
        </h5>
        <p class="text-dark">
          г. Санкт-Петербург<br />
          Балканская площадь дом 5 лит. О<br />
          корпус БАЛКАНСКИЙ-6, 2-ой этаж
        </p>
        <p>
          <small class="font-weight-bold">Телефон:</small> +7-921-882-28-09
        </p>
        
        <h5 class="font-weight-bold">
          Режим работы
        </h5>
        <p class="text-dark">
          Ежедневно с 10:00 до 22:00 без обеда
        </p>
      </address>
      
    </div>
  </div>

  <div class="row my-4">
    <div class="col">
      {{ page.text_content|safe }}
    </div>
  </div>

{% endblock content %}

