{% extends "utils/base.html" %}
{% load static %}
{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'misc_pages/css/index.css' %}">
{% endblock css %}
{% block title %}{{ page.title }}{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block content %}
  <div class="row">
    <div class="col">
      <div class="position-relative">
        <img src="{% static 'misc_pages/images/fancy-stripe.jpg' %}" class="mw-100" />
        <div id="fancy-stripe-content" class="position-absolute text-center w-100 h-100 d-flex flex-column justify-content-center">
          <div id="fancy-stripe-content-inner" class="m-auto">
            <p class="text-uppercase">Новое поступление!</p>
            <p class="text-uppercase">Летние ткани. Дизайнерская коллекция.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row d-xl-none mt-3 text-center font-weight-bold" id="mobile-index-menu">
    <nav class="col" id="mobile-catalog-index">
      <ul class="nav">
        {% include "utils/catalog-menu.html" with menu_name='mobile-index' %}
      </ul>
    </nav>
  </div>

  <div class="row my-4">
    <div class="col">
      {{ page.text_content|safe }}
    </div>
  </div>

  <div class="row">
    <div class="col">
      <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A1b680f8561bebbbcf3ab5614b5244007630aaa0b9e7ba6c46a745c8c590e3ff6&amp;width=100%&amp;height=420&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
  </div>

{% endblock content %}
