#ware-discounts-multiple th {
  text-align: center;
  text-transform: uppercase;
}
#ware-discounts-multiple td { vertical-align: middle; }
#sale-timelines {
  text-align: center;
  width: 220px;
}
#sale-timelines .sale-timeline { display: none; }
