#ware-discounts th, #ware-discounts td { vertical-align: middle; }
#ware-discounts th.original, #ware-discounts td.original {
  width: 0px;
  padding: 0px;
}

.inline-deletelink {
  background: url(/static/admin/img/inline-delete.svg) 0 0 no-repeat;
  border: 0px none;
  float: right;
  height: 16px;
  text-indent: -9999px;
  width: 16px;
}
