#wares a:hover { text-decoration: none; }
#wares a { color: #212529; }

#wares .sale-badge {
  bottom: 5px;
  left: 5px;
}

#wares .new-badge {
  bottom: 5px;
  left: 50px;
}

#wares img { 
  max-width: 256px;
  max-height: 256px;
}

#ware-property-caption {
  caption-side: top;
  font-size: 1.3rem;
}

#ware-info .sale-badge {
  font-size: 1rem;
  bottom: 8px;
  left: 10px;
}

#ware-info .new-badge {
  font-size: 1rem;
  bottom: 8px;
  left: 70px;
}

#ware-info img { cursor: pointer }
