{% if is_paginated %}
  <div class="row mt-5">
    <nav class="col" id="pagination">
      <ul class="pagination pagination-lg justify-content-center">
        {% if paginator.num_pages < 7 %}
          {# Simple paginator #}
          {% for page_num in paginator.page_range %}
            {% if page_num == page_obj.number %}
              {% include "utils/paginator/page_item_active.html" %}
            {% else %}
              {% include "utils/paginator/page_item.html" %}
            {% endif %}
          {% endfor %}
        {% else %}
          {# Full paginator #}
          {% with page_number=page_obj.number %}
            {# If current page is far enough from first one a link for the first page is inserted. #}
            {% if page_number >= 3 %}
              {% include "utils/paginator/page_item.html" with page_num="1" %}
            {% endif %}
            {# If current page is far enough from first one an empty page item is inserted. #}
            {% if page_number >= 4 %}
              {% include "utils/paginator/page_item_empty.html" %}
            {% endif %}
            {# Page before current page if there is one #}
            {% if page_obj.has_previous %}
              {% include "utils/paginator/page_item.html" with page_num=page_number|add:"-1" %}
            {% endif %}
            {# Current page #}
            {% include "utils/paginator/page_item_active.html" with page_num=page_number %}
            {# Page after current page if there is one #}
            {% if page_obj.has_next %}
              {% include "utils/paginator/page_item.html" with page_num=page_number|add:"1" %}
            {% endif %}
            {# If current page is far enough from last one an empty page item is inserted. #}
            {% if page_number <= paginator.num_pages|add:"-3" %}
              {% include "utils/paginator/page_item_empty.html" %}
            {% endif %}
            {# If current page is far enough from last one a link for the last page is inserted. #}
            {% if page_number <= paginator.num_pages|add:"-2" %}
              {% include "utils/paginator/page_item.html" with page_num=paginator.num_pages %}
            {% endif %}
          {% endwith %}
        {% endif %}
      </ul>
    </nav>
  </div>
{% endif %}
