{% extends "utils/base.html" %}
{% block content %}
  <div class="row">
    <div class="col">
      <ul class="list-unstyled">
        {% for category in category_list %}
          <li>
            <a class="text-menu" href="{{ category.get_absolute_url }}">
              {{ category.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock content %}
