{% extends "catalog/ware_list_base.html" %}
{% block text_content %}
  {% if ware_list %}
    {{ block.super }}
  {% else %}
    <p>
      Если вы видете этот текст, значит товар есть в наличии, но сайт находится в разработке. О наличии товара узнавайте по телефону +7-921-882-28-09 .
    </p>
    <p>Но мы стараемся, скоро все фотографии будут!</p>
  {% endif %}
{% endblock text_content %}
