{% extends "utils/base.html" %}
{% load static %}
{% block css %}
  {{ block.super }}
  <link href="{% static 'catalog/ware.css' %}" rel="stylesheet">
  <link href="{% static 'utils/image-gallery.css' %}" rel="stylesheet">
{% endblock css %}
{% block title %}{{ ware.title }}{% endblock %}
{% block content %}

  <div class="row" id="ware-info">

    <div class="col-12 col-lg-8 text-lg-left text-center">
      <div class="row">
        <div class="col text-center">
          <div class="d-inline-block position-relative text-center">
            {% if main_image %}
              <img src="{{ main_image.get_absolute_url }}" alt="{{ ware.name }}"
                class="mw-100 rounded" data-toggle="modal" data-target="#image-gallery"
                data-original-id="{{ main_image.original_image_id }}"
                data-ware-id="{{ ware.pk }}" />
            {% else %}
              <img src="{% static dummy_image %}" alt="Нет изображения" class="mw-100 rounded" />
            {% endif %}
            {% if ware.active_discount %}
              <span class="badge badge-pill badge-info sale-badge position-absolute">Sale</span>
            {% endif %}
            {% if ware.is_new %}
              <span class="badge badge-pill badge-success new-badge position-absolute">New</span>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col d-flex flex-wrap justify-content-center">
          {% for image in secondary_images %}
            <img src="{{ image.get_absolute_url }}" alt="{{ ware.name }}"
              class="img-thumbnail rounded w-auto" data-toggle="modal"
              data-ware-id="{{ ware.pk }}" data-target="#image-gallery"
              data-original-id="{{ image.original_image_id }}" />
          {% endfor %}
        </div>
      </div>
    </div>

    {% if ware_properties %}
      <div class="col col-lg-4 text-center table-responsive">
        <table class="table">
          <caption id="ware-property-caption"
            class="text-center text-body font-weight-bold text-uppercase pt-xl-0 pt-5">
            Характеристики
          </caption>
          {% for property_value in ware_properties %}
            <tr>
              <td class="align-middle">{{ property_value.property.name }}</td>
              <td class="align-middle font-weight-bold">{{ property_value.value }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    {% endif %}

  </div>

  <div class="row">
    <div class="col">
      <p>{{ ware.get_effective_description|safe }}</p>
    </div>
  </div>

  {% include "utils/image-gallery.html" %}
{% endblock %}
{% block js-body-end %}
  {{ block.super }}
  <script src="{% static 'utils/image-gallery.js' %}"></script>
{% endblock js-body-end %}
