{% extends "utils/base.html" %}
{% load static %}
{% block css %}
  {{ block.super }}
  <link href="{% static 'catalog/ware.css' %}" rel="stylesheet">
{% endblock css %}
{% block title %}{{ object.title }}{% endblock %}
{% block content %}
  
  <div class="row">
    {% block text_content %}
      <div class="col-12"> {{ object.text_content|safe }} </div>
    {% endblock text_content %}
  </div>
  <div class="row mt-xl-4" id="wares">
    {% for ware in ware_list %}
      <div class="col col-xl-4 text-center d-flex justify-content-center
        align-items-start">
        <a href="{{ ware.get_absolute_url }}">
          <div class="d-inline-block position-relative">
            <img src="{{ ware.main_image_url }}" alt="{{ ware.name }}">
            {% if ware.active_discount %}
              <span class="badge badge-pill badge-info sale-badge position-absolute">Sale</span>
            {% endif %}
            {% if ware.is_new %}
              <span class="badge badge-pill badge-success new-badge position-absolute">New</span>
            {% endif %}
          </div>
          <p class="font-weight-bold mt-2">{{ ware.name }}</p>
        </a>
      </div>
    {% endfor %}
  </div>
  {% include "utils/paginator/paginator.html" with page_url=object.get_absolute_url %}
{% endblock %}
