{% load static %}
<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap -->
    {% block css %}
      <link href="{% static 'utils/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
      crossorigin="anonymous">

      <link href="{% static 'utils/style.css' %}" rel="stylesheet">
    {% endblock css %}
    <title>{% block title %}Ткани, шторы, всё для шитья{% endblock %}</title>

    <!-- SEO -->
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
  </head>
  <body>
    <div class="container">
      <div class="d-none d-lg-none flex-column align-items-end position-absolute"
        id="pallet" style="right: 0px; top: 0px">
        <div>Фон <input type="color" id="pallet-bg"></div>
        <div>Меню <input type="color" id="pallet-fg"></div>
        <div>Текст <input type="color" id="pallet-font"></div> 
      </div>
      

      <header class="row mt-3 justify-content-between d-none d-xl-flex">
        <a class="col-3 text-uppercase d-flex align-items-center text-dark px-0 font-weight-bold"
          href="/" id="site-logo">
          <img src="{% static 'utils/images/logo.jpg' %}"
            alt="логотип" class="rounded mr-2" />
            Ткани, шторы,
            <br />
            всё для шитья
        </a>
        <address class="col-6 my-0 d-flex flex-column
          align-items-center justify-content-center text-center">
          <strong class="mw-100">
            Санкт-Петербург, Балканская площадь, дом 5 лит. О, корпус БАЛКАНСКИЙ-6, 2-ой этаж
          </strong>
          <strong>+7-921-882-28-09</strong>
        </address>
        <div class="col-2 d-flex flex-column px-0 work-time text-uppercase">
          <b>Мы ждём вас</b>
          <strong>Каждый день</strong>
          <strong>с 10:00 до 22:00</strong>
          <strong>Без обеда</strong>
        </div>
      </header>

      {% block menu_top %}
        <nav class="row navbar navbar-light navbar-expand-xl
          bg-menu mb-3 rounded shadow-sm fixed-top pallet-fg" id="menu-top">
          <button class="navbar-toggler border-0 px-1 px-sm-2" type="button"
            data-toggle="collapse" data-target="#menu-top-content">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="text-uppercase d-flex d-xl-none align-items-center
            text-dark px-0 mr-auto ml-2" href="/" id="site-logo-mobile">
            <img src="{% static 'utils/images/logo.jpg' %}"
              alt="логотип" class="rounded mr-2" />
              Ткани, шторы,
              <br />
              всё для шитья
          </a>
          <span class="d-xl-none pr-2 pr-sm-3" id="mobile-phone-num">+79218822809</span>
          <a href="tel:+79218822809" class="d-xl-none pr-1 pr-sm-2 text-muted">
            <i class="fas fa-phone"></i>
          </a>
          <address class="d-xl-none mb-0 text-center w-100">
            Санкт-Петербург, Балканская площадь. д. 5 лит. О,<br />
            корпус БАЛКАНСКИЙ-6, 2-ой этаж<br>
            <span class="font-weight-bold text-uppercase">Ежедневно с 10:00 до 22:00 без обеда</span>
          </address>

          <div class="collapse navbar-collapse" id="menu-top-content">
            <ul class="navbar-nav row flex-column col px-0 pt-2 m-auto">
              {% for menu_item in menu_top %}
                <li class="nav-item d-block col-xl text-xl-center px-xl-0">
                  {% if menu_item.url == request.path %}
                  <a href="{{ menu_item.url }}" class="nav-link py-1 active">
                  {% else %}
                  <a href="{{ menu_item.url }}" class="nav-link py-1 text-body pallet-font">
                  {% endif %}
                    {{ menu_item.name }}
                  </a>
                </li>
                {% if forloop.counter == 1 %}
                  <li class="nav-item d-block pl-3 d-xl-none" id="menu-mobile-catalog">
                    <button type="button" data-toggle="collapse"
                      data-target="#mobile-catalog" id='catalog-button'
                      class="btn btn-menu py-1 px-0 text-menu text-left w-100 pallet-font">
                        Каталог
                    </button>
                    <ul class="nav collapse py-0" id="mobile-catalog">
                      {% include "./catalog-menu.html" with menu_name='mobile' %}
                    </ul>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </nav>
      {% endblock menu_top %}

      <div class="row">
        {% block menu_left %}
          <nav class="col-3 pl-0 d-none d-xl-flex align-items-start" id="menu-left">
            <ul class="nav bg-menu py-2 pl-0 pr-2 rounded shadow-sm pallet-fg">
              <div class="w-100 d-flex justify-content-center mb-3">
                <span class="pl-2 text-center text-uppercase" id="catalog-sign">
                  Каталог
                </span>
              </div>
              {% include "./catalog-menu.html" with menu_name='left' %}
            </ul>
          </nav>
        {% endblock menu_left %}
          <div class="col col-xl-9" id="content">
            {% block breadcrumbs %}{% include "utils/breadcrumbs.html" %}{% endblock %}
            {% block content %}Base template text content{% endblock %}
          </div>
        </div>

    </div>
    {% block js-body-end %}
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
      <script src="{% static 'utils/bootstrap/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'utils/script.js' %}"></script>
    {% endblock js-body-end %}
  </body>
</html>
