<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-transparent">
        <li class="breadcrumb-item">
          <a href="/" class="text-dark text-uppercase">Главная</a>
        </li>
        {% for crumb in breadcrumbs %}
          <li class="breadcrumb-item">
            {% if crumb.url is None %}
              <span class="font-weight-bold text-uppercase">{{ crumb.name }}</span>
            {% else %}
              <a href="{{ crumb.url }}" class="text-dark text-uppercase">{{ crumb.name }}</a>
            {% endif %}
          </li>
        {% endfor %}
      </ol>
    </nav>
  </div>
</div>
