{% load project_common %}
{% tree menu_left as branches, node %}
  <li class="w-100 nav-item pl-2">
    <button type="button" data-toggle="collapse"
      data-target="#menu-{{ menu_name }}-{{ node.pk }}-children"
      class="btn btn-menu py-1 px-0 {% if node.parent_id %} py-1 {% else %} py-2 {% endif %}
      text-menu text-left w-100">
      <div class="caret caret-closed d-inline-block mx-1 paused"></div>
      <b class="text-uppercase">{{ node.name }}</b>
    </button>
    <ul class="nav collapse" id="menu-{{ menu_name }}-{{ node.pk }}-children">
      {{ branches }}
      {% if not node.parent_id %}
        <div class="top-level-separator my-2 mx-auto w-50"></div>
      {% endif %}
    </ul>
  </li>
{% leaf %}
  <li class="w-100 nav-item pl-3 leaf">
    <a href="{{ node.url }}" class="nav-link py-1 px-0 text-menu text-uppercase
      {% if node.url == request.path %} active {% endif %}">
      {% url 'catalog:new_wares' as new_wares_url %}
      {% if node.url == new_wares_url %}
        <b>{{ node.name }}</b>
      {% else %}
        {{ node.name }}
      {% endif %}
    </a>
  </li>
{% endtree %}
