{% load static %}
<div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="image-galleryLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="container">
      <div class="row">
        <div class="col d-flex justify-content-between align-items-center">
          {% if secondary_images %}
            <span class="arrow-left"></span>
          {% endif %}
          <img src="{% static 'utils/images/loader.gif' %}" alt="Loading..." id="loader" />
          <div class="slide-wrapper position-relative m-auto">
            <button type="button" class="close position-absolute" aria-label="Close"
              style="display: none;">
              <span aria-hidden="true">&times;</span>
            </button>
            <img class="sample-image rounded img-thumbnail" data-original-id="" src="" />
          </div>
          {% if secondary_images %}
            <span class="arrow-right"></span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
