#fancy-stripe-content { top: 0; }

#fancy-stripe-content-inner {
  background-color: rgba(255, 255, 255, 0.6);
  font-weight: bold;
}

#fancy-stripe-content-inner p {
  margin: 0;
  padding: 5px 10px;
}

@media screen and (max-width: 575.98px) {
  #fancy-stripe-content-inner p {
    font-size: 0.75rem;
  }
}

#mobile-index-menu .btn-menu {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

#mobile-index-menu .leaf > a {
  font-size: 1rem;
  font-weight: normal;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

#mobile-index-menu .text-menu { text-align: left !important; }
